<div>
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <div>

          <div>
            <input type="text" maxlength="10" formControlName="coordenadaInicial">
            <label>Digite um Número: <span>(Digite a coordenada inicial).</span></label>
          </div>
          <div>
            <input type="text" maxlength="10" formControlName="movimentacoesCoordenadas">
            <!--<button type="submit">Adicionar</button-->
          </div>
        </div>
        {{retorno}}
        <div>
          <div>
            <button type="submit">Calcular</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
